/* taxi/static/styles.css */
body {
    font-family: Arial, sans-serif;
}

nav {
    margin: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

nav ul li a:hover {
    text-decoration: underline;
}
